.side-navbar li a {

    /* padding: 12px; */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 11px;
    padding-right: 0px;
}

 .side-navbar li a:hover, .side-navbar li a[aria-expanded="true"] {
    background: #17a2b8;
}

.side-navbar li a:focus{
    background: #29212100;
}

.pointer {
    cursor: pointer;
}